.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    justify-content: center;
}
.bg-black{
    background-color: black ;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
    color: white;
}
.rounded{

}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}

/* Width, height, and background color */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #333; /* Dark background color */
}

/* Track */
::-webkit-scrollbar-track {
    background: #333; /* Dark color */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #666; /* Medium dark color */
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888; /* Lighter color */
}

